# Build artifacts
build/
dist/
*.spec

# Logs
logs/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Credentials
# É altamente recomendável não versionar arquivos de credenciais.
# Descomente a linha abaixo se você não quiser enviar seu arquivo de credenciais para o repositório.
# "Python App Calc.json"
credentials.json 